main{
    padding: 5rem 10px;
}
#map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
      width: 100%;
  }


/* The popup bubble styling. */
.popup-bubble {
    /* Position the bubble centred-above its parent. */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the bubble. */
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    /* font-family: sans-serif; */
    overflow-y: auto;
    /* max-height: 60px; */
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  }
  
  /* The parent of the bubble. A zero-height div at the top of the tip. */
  .popup-bubble-anchor {
    /* Position the div a fixed distance above the tip. */
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
  }
  
  /* This element draws the tip. */
  .popup-bubble-anchor::after {
    content: "";
    position: absolute;
    bottom: 27px;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
  }
  
  /* JavaScript will position this div at the bottom of the popup tip. */
  .popup-container {
    cursor: auto;
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    /* max-width: 300px; */
  }
  .username strong{
    font-size: 16px;
  }
  .detail-card{
    margin: unset;
    padding:unset;
    border: unset;
    box-shadow: unset;
  }
  .rates {
    margin: 2px 0;
    font-size: 14px;
}
.rates strong {
  color: var(--deepOrange);
}
.search-img{
  width:100%;
  max-width: 500px;
  height:auto;
  opacity: 0;
  transform:translateY(-1rem);
  animation: show 0.3s linear forwards;

}
.search-title{
  font-size:24px;
  margin: 10px 0;
  opacity: 0;
  transform:translateY(-1rem);
  animation: show 0.3s linear forwards;
}


.directions-btn{
  border: 2px solid var(--blue);
  padding: 4px 8px;
  border-radius: 6px;
  background: white;
  margin: 8px 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--blue);
}
.mech-contact a{
position: relative;
}
.mech-contact a::before{
  content: "";
  position: absolute;
  top: -0.4em;
  left: 0.5em;
  width: 0;
  height: 0;
  opacity: 0;
}
.mech-contact a::after{
  content: attr(data-tooltip);
  margin: 0 5px;
  display: none;
  opacity: 0;
  font-weight: 400;
  color: white;
  position: absolute;
  top: -2em;
  background: #000000e3;
  padding: 5px 10px;
  border-radius: var(--bRadius);
  /* border-bottom-left-radius: 0px; */
  left: 0em;
}
.mech-contact a:hover::before, .mech-contact a:hover::after{
    opacity: 1;
    display: inline;
}


.rotate-icon{ 
/* transform:rotate(0deg); */
-webkit-animation: rotate-center 1.4s  linear infinite forwards;
	        animation: rotate-center 1.4s linear  infinite forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-22 8:59:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes show{
  100%{
    opacity: 1;
    transform: none;
  }
}